<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% if (locals.title) { %>
    <title><%= locals.title %></title>
<% } else { %>
    <title><%= tr('DASHBOARD.BOTNAME') %> - Admin Area</title>
<% } %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

<% if (locals.title) { %>
   <meta name="title" content="<%= locals.title %>" />
<% } else { %>
    <meta name="title" content="<%= tr('DASHBOARD.BOTNAME') %> - Admin Area" />
<% } %>
<meta name="author" content="FireDervil" />
<meta name="description" content="DuneBot is very scalable Discord Bot Plattform in Javascript with a Dashboard."/>
<meta name="keywords" content="TODO:KEYWORDS"/>
<link rel="canonical" href="{{ .Permalink }}" />

<%- theme.includePartial('guild/fonts') %>
<%- theme.includePartial('guild/favicons') %>
<%- theme.includePartial('guild/stylesheets') %>
<%- theme.includePartial('guild/analytics') %>
  
<!-- Hook: dashboard_head -->
<% if (locals.hooks && hooks.getViewHooks) { %>
  <% const headHooks = hooks.getViewHooks('dashboard_head'); %>
  <% if (headHooks && headHooks.length > 0) { %>
    <% headHooks.forEach(hook => { %>
      <%- include(hook.component, { plugin: hook.plugin, context: hook.context || {} }) %>
    <% }); %>
  <% } %>
<% } %>
<!-- Hook:end: dashboard_head -->